{% extends "partials/base.html" %}
{% block title %}purchase Details{% endblock title %}
{% block content %}
<div class="container mt-3 shadow-lg">
    <h3>Purchase Details</h3>
    <hr>
    <div class="contenar">
   
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Invoice</th>    
                    <th>Supplier</th>
                    <th>date</th>
                    <th>Details</th>
                    <th>Total Amount</th>
                </tr>
            </thead>
            <tbody>
                {% for purchase in data %}
                    <tr>
                        <td>{{ purchase.id }}</td>
                        <td>{{ purchase.supplier }}</td>
                        <td>{{ purchase.datetime }}</td>
                        <td>
                            <ul>
                                <li>  item   -   Quantity  -   Price - anount</li>
                                {% for purchasedetail in purchase.purchasedetails_set.all %}
                                    <li>{{ purchasedetail.item }} - {{ purchasedetail.quantity}} - {{ purchasedetail.price }} - {{ purchasedetail.amount }}</li>
                                    
                            {% endfor %}
                            </ul>
                        </td>
                        <td>{{ purchase.total_amount}}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
        
    </div>
</div>
{% endblock content %}