body{
	margin:0;
	padding:0;
	background:#fff;
	color: #fff;
}
.banner{
	height: 100vh;
	width: 100%;
	background:url('{{ STATIC_ROOT }}/image/bg_image.png');
	background-position: top;
	background-size:cover;
	/*background-attachment: fixed;*/
	background-repeat: no-repeat;
}
.banner .info h1{
	font-size: 2.5em;
	font-weight: 700;
	color: #fff;
	letter-spacing: 2px;
}
.banner .info p{
	font-size: 2em;
	font-weight: 500;
	color: #aaa;
	letter-spacing: 2px;
}
.banner .info a{
	margin-left:50%;
	transform: translateX(-50%);
	color: #fff;
	background: #e91d43;
	padding:5px 2px; 
	
}
.banner .info a:hover{
	background: #f03472;
}